#carouselExample img {
  max-height: 400px;
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.carousel-caption h5 {
  font-size: 1.5rem;
}

.carousel-caption p {
  font-size: 1rem;
  line-height: 1.5;
}
section {
  scroll-margin-top: 40px; /* ajusta según el alto de tu navbar */
}


